Config_Analysis/App_WebReferences/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49532/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49532/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49532/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetTestData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestData" />
  </wsdl:message>
  <wsdl:message name="IService_GetTestData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTestDataFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestDataFilter" />
  </wsdl:message>
  <wsdl:message name="IService_GetTestDataFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestDataFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetConfigParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigParameter" />
  </wsdl:message>
  <wsdl:message name="IService_GetConfigParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetConfigParameterFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigParameterFilter" />
  </wsdl:message>
  <wsdl:message name="IService_GetConfigParameterFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigParameterFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetConfigParametersFilterasTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigParametersFilterasTag" />
  </wsdl:message>
  <wsdl:message name="IService_GetConfigParametersFilterasTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigParametersFilterasTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAnalysis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysis" />
  </wsdl:message>
  <wsdl:message name="IService_GetAnalysis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAnalysisFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisFilter" />
  </wsdl:message>
  <wsdl:message name="IService_GetAnalysisFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnalysisFilterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetTestData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTestData" message="tns:IService_GetTestData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTestDataResponse" message="tns:IService_GetTestData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestDataFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTestDataFilter" message="tns:IService_GetTestDataFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTestDataFilterResponse" message="tns:IService_GetTestDataFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetConfigParameter" message="tns:IService_GetConfigParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetConfigParameterResponse" message="tns:IService_GetConfigParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigParameterFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetConfigParameterFilter" message="tns:IService_GetConfigParameterFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetConfigParameterFilterResponse" message="tns:IService_GetConfigParameterFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigParametersFilterasTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetConfigParametersFilterasTag" message="tns:IService_GetConfigParametersFilterasTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetConfigParametersFilterasTagResponse" message="tns:IService_GetConfigParametersFilterasTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalysis">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAnalysis" message="tns:IService_GetAnalysis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAnalysisResponse" message="tns:IService_GetAnalysis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAnalysisFilter" message="tns:IService_GetAnalysisFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAnalysisFilterResponse" message="tns:IService_GetAnalysisFilter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestData">
      <soap:operation soapAction="http://tempuri.org/IService/GetTestData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestDataFilter">
      <soap:operation soapAction="http://tempuri.org/IService/GetTestDataFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigParameter">
      <soap:operation soapAction="http://tempuri.org/IService/GetConfigParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigParameterFilter">
      <soap:operation soapAction="http://tempuri.org/IService/GetConfigParameterFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigParametersFilterasTag">
      <soap:operation soapAction="http://tempuri.org/IService/GetConfigParametersFilterasTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalysis">
      <soap:operation soapAction="http://tempuri.org/IService/GetAnalysis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnalysisFilter">
      <soap:operation soapAction="http://tempuri.org/IService/GetAnalysisFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:49532/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>